<div id="registration-form-container" [hidden]="codeSent">
  <h1>Registration</h1>
  <form [formGroup]="registrationForm">

    <!-- First name field -->
    <div class="row">
      <input placeholder="First name" formControlName="first_name">
      <span class="error" *ngIf="firstName.hasError('required') && isSubmitted">
          First name is <strong>required</strong>
    </span>
    </div>

    <!-- Last name field -->
    <div class="row">
      <input placeholder="Last name" formControlName="last_name">
      <span class="error" *ngIf="lastName.hasError('required') && isSubmitted">
          Last name is <strong>required</strong>
    </span>
    </div>

    <!-- Gender field -->
    <div class="row">
      <label>
        <input type="radio" [value]="0" formControlName="gender">
        <span>Male</span>
      </label>
      <label>
        <input type="radio" [value]="1" formControlName="gender">
        <span>Female</span>
      </label>
    </div>

    <!-- E-mail field -->
    <div class="row">
      <input placeholder="E-mail" formControlName="email">
      <span class="error" *ngIf="email.hasError('required') && isSubmitted">
          E-mail is <strong>required</strong>
    </span>
      <span class="error" *ngIf="email.hasError('patternInvalid')">
          E-mail is <strong>invalid</strong>
    </span>
    </div>

    <!-- Password field -->
    <div class="row">
      <input placeholder="Password" type="password" formControlName="password">
      <span class="error" *ngIf="pass.hasError('required') && isSubmitted">
          Password is <strong>required</strong>
    </span>
    </div>

    <div>
      <p>
        After successful form submission we will sent you a verification code that will be valid only for
        <strong>20 seconds</strong>.<br> So please open your e-mail in another tab to prepare code receiving.
      </p>
      <button (click)="sendVerificationCode()">Register</button>
    </div>
  </form>
</div>
<div id="verification-form-container" [hidden]="!codeSent">
  <form [formGroup]="verificationForm">
    <input formControlName="token">
    <button (click)="verifyCode()">Verify</button>
    <p>Please note that the code will be valid only for <strong>20 seconds</strong></p>
    <p (click)="sendVerificationCode(true)">Resend code</p>
  </form>
</div>

