<h1>Registration</h1>
<form [formGroup]="registrationForm">

  <!-- First name field -->
  <div>
    <input placeholder="First name" formControlName="first_name">
    <span class="error" *ngIf="firstName.hasError('required') && isSubmitted">
          First name is <strong>required</strong>
    </span>
  </div>

  <!-- Last name field -->
  <div>
    <input placeholder="Last name" formControlName="last_name">
    <span class="error" *ngIf="lastName.hasError('required') && isSubmitted">
          Last name is <strong>required</strong>
    </span>
  </div>


  <!-- E-mail field -->
  <div>
    <input placeholder="E-mail" formControlName="email">
    <span class="error" *ngIf="email.hasError('required') && isSubmitted">
          E-mail is <strong>required</strong>
    </span>
    <span class="error" *ngIf="email.hasError('patternInvalid')">
          E-mail is <strong>invalid</strong>
    </span>
  </div>

  <!-- Password field -->
  <div>
    <input placeholder="Password" type="password" formControlName="password">
    <span class="error" *ngIf="pass.hasError('required') && isSubmitted">
          Password is <strong>required</strong>
    </span>
  </div>

  <div>
    <button (click)="register()">Register</button>
  </div>
</form>
