<form [formGroup]="resetPassForm" *ngIf="emailPassed && !tokenExpired">
  <h3>Reset Password</h3>
  <div>

    <input type="password" placeholder="Password" formControlName="password">
    <span class="error" *ngIf="pass.hasError('required') && isSubmitted">
                Please write the new password</span>
    <span class="error" *ngIf="pass.hasError('patternInvalid')">
                   Password should not contain spaces
                </span>
    <span class="error" *ngIf="pass.hasError('maxlength')||pass.hasError('minlength')">
                   Password should be between 6-15 characters
            </span>
  </div>

  <div>
    <input type="password" placeholder="Reenter Password" formControlName="confirm_password">
    <span class="error" *ngIf="confirmPass.hasError('notMatch')">Passwords don't match</span>
    <span class="error" *ngIf="confirmPass.hasError('required') && isSubmitted">
                Please re-type the new password</span>
    <div class="actions">
      <button (click)="changePassword()">Submit</button>
    </div>
  </div>
</form>
<div id="token-expired-container" *ngIf="tokenExpired">
  <h3>Session expired.</h3>
  <p>The link is not valid anymore.</p>
  <button (click)="resendEmail()">Resend email</button>
</div>
